<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dc_system.dao.PointMapper">
  <resultMap id="BaseResultMap" type="com.java.dc_system.pojo.Point">
    <!--@mbg.generated-->
    <!--@Table point-->
    <id column="pointId" jdbcType="INTEGER" property="pointid" />
    <result column="ponintName" jdbcType="VARCHAR" property="ponintname" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pointId, ponintName
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from point
    where pointId = #{pointid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from point
    where pointId = #{pointid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="pointId" keyProperty="pointid" parameterType="com.java.dc_system.pojo.Point" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into point (ponintName)
    values (#{ponintname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="pointId" keyProperty="pointid" parameterType="com.java.dc_system.pojo.Point" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ponintname != null">
        ponintName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ponintname != null">
        #{ponintname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.java.dc_system.pojo.Point">
    <!--@mbg.generated-->
    update point
    <set>
      <if test="ponintname != null">
        ponintName = #{ponintname,jdbcType=VARCHAR},
      </if>
    </set>
    where pointId = #{pointid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.java.dc_system.pojo.Point">
    <!--@mbg.generated-->
    update point
    set ponintName = #{ponintname,jdbcType=VARCHAR}
    where pointId = #{pointid,jdbcType=INTEGER}
  </update>
</mapper>